shaarligo.cgi
shaarligo-*-*.cgi*
ServerInfo.cgi
testdata/links.atom.bak
testdata/links.gob
testdata/sebsauvage.atom
settings.sh
flow.pdf
neu0.graphmlz
body.txt
head.txt
*~
tmp/
body*.txt
head*.txt
static/assets/default/*.woff
static/assets/default/*.woff2
