
# Requires:
#   mod_cgi.so
#   mod_rewrite.so

# mandatory, already before first run of cgi (usually a webserver default):
AddHandler cgi-script .cgi
Options ExecCGI

# mandatory
DirectoryIndex index.xml

# recommended
AddOutputFilter DEFLATE xml xslt css js svg

# https://stackoverflow.com/questions/21062290/set-rewritebase-to-the-current-folder-path-dynamically/21063276#21063276
RewriteEngine On
RewriteCond %{REQUEST_URI}::$1 ^(.*?/)(.*)::\2$
RewriteRule ^(.*)$ - [E=BASE:%1]

RewriteRule ^/?$ %{ENV:BASE}pub/posts/ [redirect=301,last]

# nice
Header add X-Powered-By "http://purl.mro.name/ShaarliGo#0.0.1"
